<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Values Array</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<style>
    #myList li {
  color: #665A48;
  font-size: 25px;

}
</style>
<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #BBD6B8;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color:#65647C">TEXT STITCHER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<body class="entire-webpage" style="background-color: #94AF9F;">
<div class="container-fluid">
    <div class="content">
        <h4>Birleşim</h4>
        <h2 style="color:#704F4F;" th:text="${valuesArray}"></h2>
        <h2 style="color:#704F4F;" th:text="${sure}"></h2>
        <h4>Birleştirilen Metinler</h4>
        <ul class="list-group" id="myList">
            <li th:each="value : ${textareaValues}" th:text="${value}"></li>
        </ul>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>



</body>
</html>
